a {
  text-decoration: none;
  color: #337ab7;
}
a:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e74230;
}

.header .button {
  color: white;
  margin-right: 10px;
}

.app-name {
  margin: 0;
  font-size: 1.5em;
  padding: 0.3em;
}
.app-name a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  margin-top: 20px;
}

.repositories {
  list-style: none;
  margin: 15px;
  padding: 0;
  border: 1px solid #eeeeee;
  width: 350px;
}

.repositories li {
  font-size: 0.8em;
}
.repositories li:hover:not(.repo-item-head) {
  background-color: #eeeeee;
}
.repositories li:not(:first-child) {
  border-top: 1px solid #eeeeee;
}

.repo-item {
  padding: 0;
}

a.repo-link,
.repo-item-head {
  padding: 10px 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.repo-item-head {
  font-weight: bold;
}

.private-label {
  color: #666666;
  border: 1px solid #999999;
  padding: 1px 5px;
  border-radius: 5px;
  margin: 5px;
}

.draft-label {
  background: #999999;
  color: white;
  padding: 1px 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.body {
  width: 100%;
  padding: 15px;
}

.issues {
  width: 100%;
  font-size: 0.8em;
}

.repository-name {
  font-size: 1.5em;
}

.issue-list {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.issue-item {
  width: 350px;
  margin: 15px;
  padding: 10px;
  border: 1px solid #eeeeee;
}

.issue-title {
  margin: 0 0 10px;
}

.label-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.label-item {
  display: inline-block;
  margin: 1px;
  border-radius: 5px;
}

.label-item a {
  display: inline-block;
  padding: 3px 8px 3px;
  color: inherit;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  margin: 5px;
  border-top: 1px solid gray;
}
.footer-menu {
  text-align: right;
  list-style: none;
}
